<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- This is an example of a URDF. -->
    <!-- As we move through the file, new things to note will be pointed out. -->
    <!-- It's not meant an example of GOOD design, but an example of some of the various features of URDF/xacro. -->



    <!-- This will include all the contents of example_include.xacro first. Go check it out! -->
    <xacro:include filename="example_include.xacro" />



    <!-- This first link called "world" is empty -->
    <link name="world"></link>


    <!-- A simple fixed joint from our empty world link, to our base. -->
    <!-- The base origin is offset from the world origin. -->
    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>        
    </joint>


    <!-- base_link is a large rectangular plate. Some things to note: -->
    <!-- - We set the visual origin Z to half the box height, so that the link origin sits at the bottom of the box -->
    <!-- - We set the collision to be identical to the visual -->
    <!-- - We specified the colour manually (but still need to enter a name) -->
    <!-- - We specified all the inertial parameters manually -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/scaledDesk.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="2.5 1.5 0.1" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/scaledDesk.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="2.5 1.5 0.1" /> -->
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="20" />
            <inertia ixx="2.26" ixy="0.0" ixz="0.0" iyy="6.26" iyz="0.0" izz="8.5" />
        </inertial>
    </link>

    <joint name="frame_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="frame_link"/>        
    </joint>

    <link name="frame_link">
        <visual>
            <origin xyz="0.55 -0.3 0.55" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/frame.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="2.5 1.5 0.1" /> -->
            </geometry>
            <material name="green">
                <color rgba="0.2 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.55 -0.3 0.55" rpy="0 0 0"/>
            <geometry>
                <box size="2.5 1.5 0.1" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.55 -0.3 0.55" rpy="0 0 0"/>
            <mass value="12" />
            <inertia ixx="2.26" ixy="0.0" ixz="0.0" iyy="6.26" iyz="0.0" izz="8.5" />
        </inertial>
    </link>

    <joint name="motor-joint" type="fixed">
        <origin xyz="-0.18 0 0.543" rpy="0 0 0"/>
        <parent link="frame_link"/>
        <child link="motor_link"/>        
    </joint>

    <link name="motor_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/DC-Motor-STEP.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="2.5 1.5 0.1" /> -->
            </geometry>
            <material name="green">
                <color rgba="0.2 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/DC-Motor-STEP.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.55 -0.3 0.55" rpy="0 0 0"/>
            <mass value="12" />
            <inertia ixx="2.26" ixy="0.0" ixz="0.0" iyy="6.26" iyz="0.0" izz="8.5" />
        </inertial>
    </link>

    <joint name="encoder-joint" type="fixed">
        <origin xyz="0.4 -0.02 0.543" rpy="${pi/2} 0 0"/>
        <parent link="frame_link"/>
        <child link="encoder_link"/>        
    </joint>

    <link name="encoder_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/Encoder.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="2.5 1.5 0.1" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/Encoder.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.55 -0.3 0.55" rpy="0 0 0"/>
            <mass value="12" />
            <inertia ixx="2.26" ixy="0.0" ixz="0.0" iyy="6.26" iyz="0.0" izz="8.5" />
        </inertial>
    </link>

    <!-- <joint name="slider-joint" type="prismatic">
        <origin xyz="0 0 0.55" rpy="0 0 0"/>
        <parent link="frame_link"/>
        <child link="slider_link"/>        
        <axis xyz="1 0 0"/>
        <limit lower="0" upper="2" velocity="100" effort="100"/> 
    </joint> -->


    <joint name="slider-joint" type="prismatic">
        <origin xyz="0.41 -0.3 0.55" rpy="0 0 0"/>
        <parent link="frame_link"/>
        <child link="slider_link"/>   
        <axis xyz="1 0 0"/>
        <limit lower="0" upper="0.35" velocity="100" effort="100"/>
        <dynamics damping="0.0" friction="100"/>    
    </joint>


    <link name="slider_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/slider.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="0.04 0.03 0.07" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/slider.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="20" x="0.04" y="0.03" z="0.07">
            <origin xyz="-0.49 0.27 0.015" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="adapter-joint" type="continuous">
        <origin xyz="-0.49 0.257 0.038" rpy="${pi/2} 0 ${-pi/2}"/>
        <parent link="slider_link"/>
        <child link="adapter_link"/>   
         <dynamics damping="0.0" friction="0.00046"/>
        <axis xyz="1 0 0"/>      
    </joint>

    <link name="adapter_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/dau_noi_ti.stl" scale="0.001 0.001 0.001" />
                <!-- <box size="0.03 0.01 0.01" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file:///$(find inverted_pendulum)/meshes/dau_noi_ti.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision> 
        <xacro:inertial_box mass="0.001" x="0.03" y="0.01" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="rod-joint" type="fixed">
        <!-- <origin xyz="0.008 -0.19 0" rpy="${pi/2} 0 0"/> -->
        <origin xyz="0.008 -0.19 0" rpy="${pi/2} 0 0"/>
        <parent link="adapter_link"/>
        <child link="rod_link"/>   
    </joint>

    <xacro:property name="rod_length" value="0.4" />
    <xacro:property name="rod_radius" value="0.004" />
    <link name="rod_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>                
                <cylinder length="${rod_length}" radius="${rod_radius}" />
            </geometry>
            <material name="orange" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="${rod_length}" radius="${rod_radius}" />
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.16" length="${rod_length}" radius="${rod_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

<xacro:include filename="example_gazebo_test.xacro" />
</robot>